<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="navbar-brand">経費精算</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">ホーム</a>
            </li>
        </ul>
    </div>
    <% if (locals.user){ %>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <div class="navbar-text">ログイン名：<%= locals.user.name %>　　</div>
        <form method="POST" action="/logout" class="form-inline my-2 my-lg-0">
            <input type="submit" button class="btn btn-light my-2 my-sm-0" value="ログアウト" />
        </form>
    </div>
    <% } %>
</nav>